@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Reggae+One&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
}

.header{
    display: flex;
}

.imagenesacercate{
    background-color: rgb(165, 160, 160);
    border: 6px solid grey;
    font-family: 'Reggae One', cursive;
    font-size: 22px;
    font-weight: bold;
    padding: .5%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.Acercate{
    display: flex;
}

.logo1{
    font-size: 160%;
    margin-left: -2%;
    margin-top: -.3%;
    
}

.logo2{
    font-size: 160%;
    margin-left: -1%;
    margin-top: -.3%;
}

.logo3{
    font-size: 180%;
    margin-left: -1%;
    margin-top: -.4%;
}


.cabeceraacercate{
    margin-top: .5%;
    margin-left: 4%;
    margin-right: 3%;
}

.txttel1{
    margin-top: .5%;
    margin-left: 1%;
    margin-right: 3%;
}

.txttel2{
    margin-top: .5%;
    margin-left: 1%;
    margin-right: 3%;
}

.txtcorreo{
    margin-top: .5%;
    margin-left: 1%;
    margin-right: 3%;
}

.user{
    font-size: 150%;
    margin-left: -1%;
}

.monedero{
    font-size: 160%;
    margin-left: 2%;
    margin-top: -.3%;
}


a{
    text-decoration: none;
    color: black;
}

button:hover{
    cursor: pointer;
}


.seleccion{
    font-family: 'Reggae One', cursive;
    font-size: 22px;
    font-weight: bold;
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 4%;
}

.botonaviso{
    display: flex;
    cursor: pointer;
}

input{
    cursor: pointer;
}

.boton1{
    height: 30px;
    width: 25px;
    margin-left: 2%;
    margin-right: 1%;
    margin-top: 3%;
}

.express{
    width: 140px;
    height: 130px;
}

.boton2{
    height: 30px;
    width: 25px;
    margin-left: 5%;
    margin-right: 1%;
    margin-top: 3%;
}

.visa{
    width: 140px;
    height: 130px;
}

.boton3{
    height: 30px;
    width: 25px;
    margin-left: 5%;
    margin-right: 1%;
    margin-top: 3%;
}

.master{
    width: 140px;
    height: 130px;
}

.tarjeta{
    font-family: 'Reggae One', cursive;
    font-size: 22px;
    font-weight: lighter;
    text-align: left;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 2%;
    border: 3px solid rgb(180, 176, 176);
    width: 700px;
    outline: none;
    background: none;
}

.md{
    font-family: 'Reggae One', cursive;
    font-size: 22px;
    font-weight: lighter;
    text-align: left;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
    border: 3px solid rgb(180, 176, 176);
    width: 330px;
}

.cvv{
    font-family: 'Reggae One', cursive;
    font-size: 22px;
    font-weight: lighter;
    text-align: left;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
    border: 3px solid rgb(180, 176, 176);
    width: 330px;
}

.nombre{
    font-family: 'Reggae One', cursive;
    font-size: 22px;
    font-weight: lighter;
    text-align: left;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
    border: 3px solid rgb(180, 176, 176);
    width: 700px;
}

.e-mail{
    font-family: 'Reggae One', cursive;
    font-size: 22px;
    font-weight: lighter;
    text-align: left;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
    border: 3px solid rgb(180, 176, 176);
    width: 700px;
}

.botonaviso{
    display: flex;
}

.boton{
    height: 30px;
    width: 25px;
    margin-left: 2.5%;
    margin-right: .5%;
    margin-top: -1%;
    margin-bottom: 1%;
}

.aviso{
    font-family: 'Reggae One', cursive;
    font-size: 15px;
    font-weight: lighter;
    margin-top: -.8%;
}

.enviar{
    height: 60px;
    width: 200px;
    font-family: 'Reggae One', cursive;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid gray;
    border: 3px solid rgb(124, 121, 121);
    margin-left: 17.5%;
    margin-top: 1%;
    margin-bottom: 3%;
    transition: all ease 300ms;
}

.enviar:hover{
    background-color:  rgb(0, 255, 255);
    border: 3px solid rgb(72, 209, 204)
}



